In [1]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Requirement already satisfied: pandas>=1.0.0 in /Users/bhavneetsingh/opt/anaconda3/lib/python3.9/site-packages (from ucimlrepo) (1.4.2)
Requirement already satisfied: certifi>=2020.12.5 in /Users/bhavneetsingh/opt/anaconda3/lib/python3.9/site-packages (from ucimlrepo) (2021.10.8)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/bhavneetsingh/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/bhavneetsingh/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->ucimlrepo) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/bhavneetsingh/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->ucimlrepo) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/bhavneetsingh/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=1.0.0->ucimlrepo) (1.16.0)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7
Note: you may need to restart the kernel to use updated packages.

In [6]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
drug_consumption_quantified = fetch_ucirepo(id=373) 
  
# data (as pandas dataframes) 
X = drug_consumption_quantified.data.features 
y = drug_consumption_quantified.data.targets 
  
# metadata 
# print(drug_consumption_quantified.metadata) 
  
# variable information 
# print(drug_consumption_quantified.variables)

In [4]:
X

,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,cscore,impuslive,ss
0,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084
1,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575
2,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148
3,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084
4,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575
...,...,...,...,...,...,...,...,...,...,...,...,...
1880,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,-1.19430,1.74091,1.88511,0.76096,-1.13788,0.88113,1.92173
1881,-0.95197,-0.48246,-0.61113,-0.57009,-0.31685,-0.24649,1.74091,0.58331,0.76096,-1.51840,0.88113,0.76540
1882,-0.07854,0.48246,0.45468,-0.57009,-0.31685,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,0.52975,-0.52593
1883,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,0.91093,-1.92173,0.29338,-1.62090,-2.57309,1.29221,1.22470
1884,-0.95197,-0.48246,-0.61113,0.21128,-0.31685,-0.46725,2.12700,1.65653,1.11406,0.41594,0.88113,1.22470

In [7]:
y

,alcohol,amphet,amyl,benzos,caff,cannabis,choc,coke,crack,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
0,CL5,CL2,CL0,CL2,CL6,CL0,CL5,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,CL5,CL2,CL2,CL0,CL6,CL4,CL6,CL3,CL0,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,CL6,CL0,CL0,CL0,CL6,CL3,CL4,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,CL4,CL0,CL0,CL3,CL5,CL2,CL4,CL2,CL0,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,CL4,CL1,CL1,CL0,CL6,CL3,CL6,CL0,CL0,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,CL5,CL0,CL0,CL0,CL4,CL5,CL4,CL0,CL0,CL0,CL0,CL0,CL3,CL3,CL0,CL0,CL0,CL0,CL5
1881,CL5,CL0,CL0,CL0,CL5,CL3,CL4,CL0,CL0,CL2,CL0,CL0,CL3,CL5,CL4,CL4,CL5,CL0,CL0
1882,CL4,CL6,CL5,CL5,CL6,CL6,CL6,CL4,CL0,CL4,CL0,CL2,CL0,CL2,CL0,CL2,CL6,CL0,CL0
1883,CL5,CL0,CL0,CL0,CL6,CL6,CL5,CL0,CL0,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL4,CL0,CL0
1884,CL4,CL3,CL0,CL3,CL6,CL3,CL6,CL3,CL0,CL3,CL0,CL0,CL3,CL3,CL0,CL3,CL6,CL0,CL2

In [14]:
y.shape[0]

1885

In [15]:
y.shape[1]

19

In [17]:
y.iloc[0][1]

'CL2'

In [20]:
temp = {
    "CL0" : "non-user",
    "CL1" : "non-user", 
    "CL2" : "user",
    "CL3" : "user",
    "CL4" : "user",
    "CL5" : "user",
    "CL6" : "user",
}
for i in range(y.shape[0]):
    for j in range(y.shape[1]):
        ans = temp[y.iloc[i][j]]
        y.iloc[i][j] = ans

In [21]:
y

,alcohol,amphet,amyl,benzos,caff,cannabis,choc,coke,crack,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
0,user,user,non-user,user,user,non-user,user,non-user,non-user,non-user,non-user,non-user,non-user,non-user,non-user,non-user,user,non-user,non-user
1,user,user,user,non-user,user,user,user,user,non-user,user,non-user,user,non-user,user,user,non-user,user,non-user,non-user
2,user,non-user,non-user,non-user,user,user,user,non-user,non-user,non-user,non-user,non-user,non-user,non-user,non-user,non-user,non-user,non-user,non-user
3,user,non-user,non-user,user,user,user,user,user,non-user,non-user,non-user,user,non-user,non-user,non-user,non-user,user,non-user,non-user
4,user,non-user,non-user,non-user,user,user,user,non-user,non-user,non-user,non-user,non-user,non-user,non-user,non-user,user,user,non-user,non-user
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,user,non-user,non-user,non-user,user,user,user,non-user,non-user,non-user,non-user,non-user,user,user,non-user,non-user,non-user,non-user,user
1881,user,non-user,non-user,non-user,user,user,user,non-user,non-user,user,non-user,non-user,user,user,user,user,user,non-user,non-user
1882,user,user,user,user,user,user,user,user,non-user,user,non-user,user,non-user,user,non-user,user,user,non-user,non-user
1883,user,non-user,non-user,non-user,user,user,user,non-user,non-user,user,non-user,non-user,user,user,non-user,user,user,non-user,non-user
1884,user,user,non-user,user,user,user,user,user,non-user,user,non-user,non-user,user,user,non-user,user,user,non-user,user

In [24]:
final_y = pd.DataFrame(columns = ["Choclate", "Mushrooms"])

In [25]:
final_y

Empty DataFrame
Columns: [Choclate, Mushrooms]
Index: []

In [27]:
final_y["Choclate"] = y["choc"]
final_y["Mushrooms"] = y["mushrooms"]

In [28]:
final_y

     Choclate Mushrooms
0        user  non-user
1        user  non-user
2        user  non-user
3        user  non-user
4        user      user
...       ...       ...
1880     user  non-user
1881     user      user
1882     user      user
1883     user      user
1884     user      user

[1885 rows x 2 columns]

In [41]:
final_dataset = X.assign(mushrooms = final_y["Mushrooms"])

In [42]:
final_dataset

,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,cscore,impuslive,ss,mushrooms
0,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,non-user
1,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,non-user
2,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,non-user
3,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,non-user
4,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,user
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,-1.19430,1.74091,1.88511,0.76096,-1.13788,0.88113,1.92173,non-user
1881,-0.95197,-0.48246,-0.61113,-0.57009,-0.31685,-0.24649,1.74091,0.58331,0.76096,-1.51840,0.88113,0.76540,user
1882,-0.07854,0.48246,0.45468,-0.57009,-0.31685,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,0.52975,-0.52593,user
1883,-0.95197,0.48246,-0.61113,-0.57009,-0.31685,0.91093,-1.92173,0.29338,-1.62090,-2.57309,1.29221,1.22470,user
1884,-0.95197,-0.48246,-0.61113,0.21128,-0.31685,-0.46725,2.12700,1.65653,1.11406,0.41594,0.88113,1.22470,user

In [43]:
final_dataset.to_csv("ML_assignment-1_mushrooms.csv")